.fieldsContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30rem;
}

.fieldsContainer .submitContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.fieldsContainer label {
    font-size: 1.25rem; 
    font-weight: 400;
}

.fieldsContainer input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}